body {
    background-color: rgb(25, 133, 77);
}

.main-title {
    text-align: center;
    color: white;
}

.main-card {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}

.account-button {
    position: absolute;
    width: 100%;
    top: 3%;
    right: 3%;
}

.main-buttons {
    position: absolute;
    bottom: 15%;
    width: 100%;
    text-align: center;
    
}